<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    <div class="container">
        {% include navbar.html %}
        <div class="page-title">
            {{page.title}}
        </div>
    </div>

    {% if page.notoc %}

    {% else %}
    <div class="sidebar">
        {% include toc.html html=content %}
    </div>
    {% endif %}

    <div class="container">
        <div class="content">
            {{content}}
        </div>
        {% include footer.html %}
    </div>
</body>
